#CBP {
  margin-left: 100px;
  font-size: 25px;
}

#li {
  margin-left: 100px;
}
#li a {
  color: white;
  font-size: 20px;
  transition: 0.5s;
}
#li a i {
  font-size: 24px;
}
#li a:hover {
  color: gold;
}
#li #cart a {
  margin-left: 500px;
}
#li #cart a i {
  font-size: 25px;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

#btnThemSP {
  margin-left: 135px;
  border: none;
  background-color: #3399CC;
}

.searchh {
  margin-right: 140px;
}

.tblSanPham table {
  width: 80%;
  margin: 0 auto;
}
.tblSanPham table thead {
  background-color: #6666CC;
}
.tblSanPham table img {
  width: 50%;
  height: 50%;
  margin-left: 100px;
}

.footer {
  width: 100%;
  background-color: #1d365e;
  color: white;
}
.footer .navigation {
  width: 80%;
  height: 50%;
  margin: 0 auto;
}
.footer .navigation ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.footer .navigation ul li {
  margin-left: 20px;
}
.footer .navigation ul li p {
  display: inline-block;
  margin-top: 10px;
}
.footer .sub-nav {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.footer .sub-nav .title-title {
  margin-left: auto;
}
.footer .sub-nav .title-title p {
  font-weight: 600;
}
.footer .sub-nav .title-title li {
  text-decoration: underline;
  list-style-type: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  box-shadow: 0 2px 4px #e2ebfc;
  background: #EEEEEE;
  z-index: 10;
}
header .logo {
  color: #2a73dc;
}
header .admin_page {
  position: relative;
  color: #1d365e;
  transform: translate(-270px, -10px);
}
header .admin_page::before {
  position: absolute;
  content: "Admin";
  bottom: -25px;
  left: -15px;
  font-size: 20px;
  color: #1d365e;
}
header .admin_page:hover::before {
  color: #2a73dc;
  transition: 0.5s;
}
header .admin_page:hover .admin_icon {
  color: #2a73dc;
  font-size: 30px;
  transition: 0.5s;
}
header nav a {
  color: #1d365e;
  transition: 0.3s;
  position: relative;
}
header nav a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background: #2a73dc;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
header nav a:hover::before, header nav a.active::before {
  width: 100%;
}
header nav a:hover {
  color: #2a73dc;
}
header nav a.active {
  color: #2a73dc;
}
header nav a#mycart {
  font-size: 25px;
}
header nav a .cart-item-count {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff0000;
}

.banner {
  background-image: url("../asset/img/background-banner-dep-ruc-ro-nhat-820x534.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.banner h2 {
  color: #e2ebfc;
}
.banner h3 {
  color: #e2ebfc;
}
.banner .info {
  border-radius: 8px;
  padding: 15px 50px;
  background: #2a73dc;
  color: #fff;
  transition: 0.5s;
  border: solid 1px wheat;
}
.banner .info:hover {
  border-radius: 8px;
  padding: 15px 50px;
  background: #1d365e;
  color: #fff;
}
.banner .shop {
  border-radius: 8px;
  padding: 15px 50px;
  background: #1d365e;
  color: #fff;
}

.product {
  background: #f5f9fe;
}
.product .list .item {
  border-radius: 20px;
  position: relative;
  box-shadow: 6px 6px 12px #e2ebfc;
  padding: 40px;
}
.product .list .item .blogs__overlay {
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  overflow: hidden;
}
.product .list .item:hover .blogs__overlay {
  opacity: 1;
}
.product .list .item .blogs__text {
  position: absolute;
  top: -50px;
  left: 50px;
  transition: 0.7s;
}
.product .list .item .blogs__text p {
  margin-top: 20px;
  color: #f5f9fe;
  font-size: 20px;
}
.product .list .item .blogs__text button {
  margin-right: 40px;
}
.product .list .item:hover .blogs__text {
  top: 20px;
}
.product .list .img_wrapper {
  border-radius: 20px;
  box-shadow: 6px 6px 12px #e2ebfc;
}
.product .list img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.product .list .descr {
  padding-top: 16px;
  display: flex;
  justify-content: space-around;
}
.product .list .descr .cardPhone__rating {
  color: #f9d412;
}
.product .list .descr .rate .btnPhone-shadow {
  background: #f5f9fe;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03rem;
  font-size: 10px;
  font-weight: 600;
  color: #2a73dd;
  box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  transition: 0.5s;
}
.product .list .descr .rate .btnPhone-shadow:hover {
  box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
}

.cart_User_Modal .bodyCartUp #img_Cart {
  width: 30%;
  margin-right: 20px;
}
.cart_User_Modal .bodyCartUp #img_Cart img {
  border: solid 2px yellowgreen;
  border-radius: 20px;
}
.cart_User_Modal .bodyCartUp #desc_Cart {
  width: 60%;
}
.cart_User_Modal .bodyCartDown .content_left {
  width: 50%;
}
.cart_User_Modal .bodyCartDown .content_left #removeItem {
  background-color: wheat;
  color: black;
  text-decoration: underline;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;
  transition: 0.5s;
}
.cart_User_Modal .bodyCartDown .content_left #removeItem:hover {
  background-color: red;
  color: black;
}
.cart_User_Modal .bodyCartDown .content_right {
  width: 50%;
  text-align: left;
}/*# sourceMappingURL=main.css.map */