#CBP{
    margin-left: 100px;
    font-size: 25px;
}
#li{
    margin-left: 100px;
    a{
        color: white;
        font-size: 20px;
        transition: 0.5s;
        i{
            font-size: 24px;
        }
        &:hover{
        color: gold;
       }
       
    }
    #cart{
        a{
            margin-left: 500px;
            i{
                font-size: 25px;
            }
        }
    }
}
.form-group.invalid .form-control{
    border-color: #f33a58;
}
.form-group.invalid .form-message {
    color: #f33a58;
  }
#btnThemSP{
    margin-left:135px ;
    border: none;
    background-color: #3399CC;
}

.searchh{
    margin-right: 140px;
}
///table
.tblSanPham table{
    width: 80%;
    margin: 0 auto;
    thead{
        background-color: 		#6666CC;
    }
    img{
        width: 50%;
        height: 50%;
        margin-left: 100px;
    }
}
//footer
.footer{
    width: 100%;
    background-color: #1d365e;
    color: white;
    .navigation{
        width: 80%;
        height: 50%;
        margin: 0 auto;
        ul{
            display: flex;
            list-style-type: none;
            justify-content: center;
            align-items: center;
            height: 100px;
            li{
                margin-left: 20px;
                
                p{
                    display: inline-block;
                    margin-top: 10px;
                    
                }
            
            }
            
        }
    }
    .sub-nav{
        width: 80%;
        display: flex   ;
        justify-content: center;
        margin: 0 auto;
        .title-title{
            margin-left: auto;
            p{
                font-weight: 600;
            }
            li{
                text-decoration: underline;
                list-style-type: none;
            }
        }
    }
}