//Helpers
@import "./Helper/variable";
@import "./Helper/mixin";

//Vendors

//Base
@import "./Base/reset";

//Component
@import "./Components/button";
@import "./Components/card";

//Layouts
@import "./Layouts/header";
@import "./Layouts/carousel";
@import "./Layouts/product";
@import "./Layouts/footer";
//Page

//Theme

//variable
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #EEEEEE;
$color-blue-1: #2a73dc;
$color-blue-2: #1d365e;
$color-yellow-1: #f9d412;

//mixin
@mixin btn-theme($color1, $color2){
    border-radius: 8px;
    padding: 15px 50px;
    // border: 2px solid red;
    background: $color1;
    color: $color2;
}
@mixin box-shadow-theme($color1){
    box-shadow: 6px 6px 12px $color1;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    box-shadow: 0 2px 4px $color-white-2;
    background: $color-white-3;
    z-index: 10;
    .logo {
        color: $color-blue-1;
    }
    .admin_page {
        position: relative;
        color: $color-blue-2;
        transform: translate(-270px,-10px);
         &::before {
                position: absolute;
                content: "Admin";
                bottom: -25px;
                left: -15px;
                font-size: 20px;
                color: $color-blue-2;
        }
        &:hover::before{
            color: $color-blue-1;
            transition: 0.5s;
        }
        &:hover .admin_icon{
            color: $color-blue-1;
            font-size: 30px;
            transition: 0.5s;
        }
    }
    nav {
        a {
            color: $color-blue-2;
            transition: 0.3s;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 0%;
                height: 3px;
                background: $color-blue-1;
                bottom: -5px;
                left: 50%; // chạy từ giữa thẻ a sang phải
                transform: translateX(-50%); //chạy từ giữa thẻ a sang trái
                transition: 0.3s;
            }
            &:hover::before , &.active::before{
                width: 100%;
            }
            &:hover {
                color: $color-blue-1;
            }
            &.active {
                color: $color-blue-1;
            }
            &#mycart {
                font-size: 25px;
            }
            .cart-item-count {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                text-align: center;
                line-height: 20px;
                font-size: 12px;
                font-weight: bold;
                color: #ffffff;
                background-color: #ff0000;
            }
        }
    }
}

.banner {
    background-image: url("../asset/img/background-banner-dep-ruc-ro-nhat-820x534.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    h2 {
        color: $color-white-2;
    }
    h3 {
        color: $color-white-2;
    }
    .info{
        @include btn-theme($color-blue-1, #fff);
        transition: 0.5s;
        &:hover {
            @include btn-theme($color-blue-2, #fff )
        }
        border: solid 1px wheat;
    }
    .shop{
        @include btn-theme($color-blue-2, #fff);
    }
}

.product {
    background: $color-white-1;
    .list {
        .item {
            border-radius: 20px;
            position: relative;
            @include box-shadow-theme($color-white-2);
            padding: 40px;
            .blogs__overlay {
                width: 100%;
                height: 100%;
                background: rgba(51, 51, 51, 0.7);
                border-radius: 20px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: 0.5s;
                overflow: hidden;
            }
            &:hover .blogs__overlay {
                opacity: 1;
            }
            .blogs__text { 
                position: absolute;
                top: -50px;
                left: 50px;
                transition: 0.7s;
                p { 
                    margin-top: 20px ;
                    color: #f5f9fe;
                    font-size: 20px;
                }
                button {
                    margin-right: 40px;
                }
                }
            &:hover .blogs__text{
                top: 20px;
            }
        }
        .img_wrapper {
            border-radius: 20px;
            @include box-shadow-theme($color-white-2);
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        .descr {
            padding-top: 16px;
            display: flex;
            justify-content: space-around;
            .cardPhone__rating {
                color: $color-yellow-1;
            }
            .rate {
                .btnPhone-shadow {
                    background: #f5f9fe;
                    padding: 8px 20px;
                    border: none;
                    border-radius: 4px;
                    letter-spacing: 0.03rem;
                    font-size: 10px;
                    font-weight: 600;
                    color: #2a73dd;
                    box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
                    transition: .5s;
                    &:hover {
                        box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
                    }
                }
            }
    }
    }
}

.cart_User_Modal {
    .bodyCartUp {
        #img_Cart {
            width: 30%;
            margin-right: 20px;
            img {
                border: solid 2px yellowgreen;
                border-radius: 20px;
            }
        }
        #desc_Cart {
            width: 60%;
        }
    }
    .bodyCartDown {
        .content_left {
            width: 50%;
            #removeItem {
                background-color: wheat;
                color: black;
                text-decoration: underline;
                border-radius: 5px;
                padding: 0 5px;
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                background-color: red;
                color: black;
                }
            }
        }
        .content_right {
            width: 50%;
            text-align: left;
        }
    }
}